#allclass {position: relative;
    background-color: black;
scroll-behavior: unset;
background-image: url(./img/background.png);
background-size: cover;
}
#index-title {
color: gold
}


#regis {
    color: aliceblue; justify-items: right;
}
   

    #signin {
        animation: alternate; color: gold; justify-items: center;
    }

    #battom-img {
        animation: forwards;
    }
    #home-class {
        background-color: blue;
    }
   
    
    #amphi-remove {
        color: red;
    }
    #amphi-list {
        color:black;
    }
    #add-amph {
        color: goldenrod;
    }
    #occup {
        color: maroon;
    }
#avail {
    color:green
}
#buk {
    color: black;
}

#stform {
    position: -ms-page; justify-content: center;
}
#body-class {
    place-content: right;
    margin-left: 69%;
    background-color: black;
}
#index-title {
    margin-left: -95%;
}
#accounte{
    color: green;
}
#about {
    color: aliceblue;
}

#contact {
    color: aliceblue;
}